.fileLink {
text-align:center;
 
  font-size: 11px;
}

a:link, a:visited {

  color: blue;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

/* selected link */
a:hover, a:active {

  color: red;
 text-decoration: none

} 

button {
  font-size: 11px;
  float: right;
  background: teal;
  color: white;
  border-style: hidden;
  padding: 1px;
  text-align: center;
}


.general {

font-size: 11px;
color: #81858c;
text-align: justify;
text-align-last: left;
font-family: ""IBM Plex Mono"", Roboto Mono, VT323, Roboto Mono, monospace;

}

.picIcon{
  width: 100%;
  height: 22px;
  background-image: url('img_flowers.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid red;

}


.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 5px;
}


tbody>tr>:nth-child(1){
 width:22px;
}


tbody>tr>:nth-child(2){ 
text-align: justify;
text-align-last: left;
}


